{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover_image}}" style="background-image: url({{img_url @blog.cover_image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>

            <h2 class="post-title">About</h2>
            <section class="post-content">
                <p>Ivana Kurecic <strong>(Shaidil)</strong> is a <a href="http://www2.mpq.mpg.de/Theorygroup/CIRAC/wiki/index.php/Ivana_Kure_C4_8Di_C4_87.html">PhD student</a> in quantum information theory,
                viola player, main organizer of the <a href="http://icps2015.unizg.hr/">ICPS2015</a>,
                and a juggling dilettante. <br />
                You can contact me through <a href="mailto:happyturtlethings@gmail.com">e-mail</a>.</p>

                <p>I've been reading scientific literature on amusing topics - let me teach
                you what you didn't think you wanted to know <a href="/tag/science/">here</a>.</p>
                <p><a href="{{@blog.url}}/archive/">Post archive</a>.</p>

                <a class="twitter-timeline" data-lang="en" data-height="1400" data-dnt="true" data-theme="dark" href="https://twitter.com/Turtle_Things?ref_src=twsrc%5Etfw">Tweets by Turtle_Things</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
